.announcement-index {
  padding: 0 5px;
}

.announcement-index-item {
  border-bottom: 1px solid red;
}

.announcement-container h2 {
  text-align: center;
}

.announcement-index-item-name {
  font-weight: bold;
}
