.calendar-box-container {
  width: 60px;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  background: #f6f7f8;
  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(46, 62, 72, 0.12);
}

.calendar-box-day {
  color: #f13a59;
  font-weight: bold;
  font-size: 20px;
}

.calendar-box-month {
  text-transform: uppercase;
  color: rgba(46,62,72,.6);
}

.rdtPicker table {
  margin: auto;
}

.rdt input.form-control {
  width: 300px;
  margin: auto;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 40px;
  background: #fafafa;
}
