.event-show-info {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  margin: auto;
  max-width: 1170px;
  background: white;
}

.event-show-left {
  flex: 3;
  margin: auto;
  text-align: center;
  border-right: 1px solid transparent;
}

.event-show-left > img {
  height: 300px;
  max-width: 500px;
}

.event-show-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 2;
  padding: 0 20px;
}

.event-show-name {
  font-size: 32px;
  font-weight: bold;
}

.attend-button > button.attended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: #A9A9A9;
}

.attend-button > button.unattended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: red;
}

.event-show-people {
  color: red;
}

.row.event-info {
}

.event-info .img-thumbnail {
  max-height: 350px;
  margin: auto;
}

.time.event-details {
  background: white;
  display: flex;
  padding: 10px;
}

.event-details-container {
  margin-bottom: 30px;
}

.time.right.event-details {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
}

#event-details-left {
}

.map-event-details {
  height: 300px;
}

#event-info-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-left: 3px solid #f6f7f8;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

#event-info-left {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.row.event-info {
  border-bottom: 3px solid #f6f7f8;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.attendee-container {
  text-align: center;
}

img.user-img {
  height: 50px;
  width: 50px;
  margin: auto;
}
