.event-show-info {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  margin: auto;
  max-width: 1170px;
  background: white;
}

.event-show-left {
  flex: 3;
  margin: auto;
  text-align: center;
  border-right: 1px solid transparent;
}

.event-show-left > img {
  height: 300px;
  max-width: 500px;
}

.event-show-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 2;
  padding: 0 20px;
}

.event-show-name {
  font-size: 32px;
  font-weight: bold;
}

.attend-button > button.attended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: black;
}

.attend-button > button.unattended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: red;
}

.event-show-people {
  color: red;
}

.row.event-info {
  padding-top: 30px;
  height: 400px;
}

.event-info .img-thumbnail {
  max-height: 350px;
  margin: auto;
}

.time.event-details {
  background: white;
  display: flex;
  padding: 10px;
}

.time.right.event-details {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
}

#event-details-left {
}

.map-event-details {
  height: 300px;
}

#event-info-right {
  text-align: center;
  display: flex;
  height: 100%;
  vertical-align: middle;
  flex-direction: column;
  border-left: 1px solid #f6f7f8;
}

#event-info-left {
  text-align: center;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row.event-info {
  border-bottom: 1px solid #f6f7f8;
}

.attendee-container {
  text-align: center;
}
