.event-show-info {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1100px;
  height: 400px;
  margin: auto;
}

.event-show-left {
  flex: 3;
}

.event-show-left > img {
  height: 100%;
  width: 100%;
}

.event-show-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 2;
  padding: 0 20px;
}

.event-show-name {
  font-size: 32px;
  font-weight: bold;
}

.event-show-time {
}

.attend-button > button.attended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: black;
}

.attend-button > button.unattended {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  margin: 7px;
  border-radius: 5px;
  background: red;
}
