.new-event-container {
  position: relative;
}

.new-event-title {
  font-size: 45px;
  text-align: center;
}

.new-event-form-errors {
  color: red;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.new-event-form {
  width: 700px;
  background: rgba(255, 255, 255, 0.85);
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 100;
}

.new-event-form > hr {
  width: 50%;
}

.map-search-container {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.map-search-input {
  margin: 10px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 40px;
  background: #fafafa;
}

.map-search-button {
  background: #d01031;
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.map {
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
}

.map-search-form {
}

.event-input-container {
  text-align: center;
}

.event-field-label {
  font-size: 20px;
}

.event-field {
  width: 500px;
  margin: 10px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 40px;
  background: #fafafa;
}

.event-field:focus {
  background: white;
  border: 2px solid #d01031;
}

textarea.event-field {
  height: 100px;
}

.new-event-button {
  background: #d01031;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.rdtPicker table {
  margin: auto;
}

.rdt input.form-control {
  width: 300px;
  margin: 10px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 40px;
  background: #fafafa;
}
