.map-search-container-front-page {
  display: flex;
  height: 700px;
  overflow: hidden;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.map-search-left {
  width: 40%;
  margin: auto;
}

.map-search-right {
  overflow-y: hidden;
  width: 60%;
  height: 100%;
}

.map-search-right > div {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.map-search-right > div > h1 {
  font-size: 30px;
}

.map-search-results {
  justify-content: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: auto;
}

.event-index-item {
  width: 400px;
  height: 300px;
}

.index-item-info {
  height: 100%;
  width: 100%;
}

.index-item-info > img {
  width: 80%;
  height: 80%;
  margin: auto;
}

.index-item-info span:nth-of-type(1) {
  font-weight: bold;
}
