#slideshow {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
  background: #000000;
}

.slide-border {
  position: absolute;
}

.slide-image{
  width: 160%;
  height: 600px;
  object-fit: cover;
  opacity: .6;
}
