.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}

.member-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: hidden;
}

.member-index {
  overflow: scroll;
}

.member-container, .member-index {
  text-align: center;
}
