.page-header {
  display: flex;
  padding: 16px 16px 8px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 70px;
  width: 100%;
  z-index: 110;
  background: white;
}

.logo {
  font-size: 35px;
  width: auto;
  font-family: 'Sedgwick Ave', cursive;
  color: #d01031;
  padding: 10px;
}

.left-header {
  position: relative;
  display: flex;
}

.left-header > a {
  margin: auto 5px;
}

.profile-img {
  width: 40px;
  height: 40px;
}
