#navbar-brand {
  font-size: 30px;
  font-family: 'Sedgwick Ave', cursive;
  color: #d01031;
}

.profile-icon {
  width: 40px;
  height: 40px;
}

#icon-lnkd, #icon-gh {
  padding: 0;
  margin: 5px 10px 0px;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: red;
}

.navbar-default .navbar-nav > li > a:hover {
  background: red;
  color: white;
}

.navbar-default .navbar-nav > li > a[type="button"] {
  margin-top: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
