.header {
  display: flex;
  padding: 16px 16px 8px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 110;
  background: white;
  position: fixed;
}

.logo {
  font-size: 35px;
  width: auto;
  font-family: 'Sedgwick Ave', cursive;
  color: #d01031;
  padding: 10px;
}
