.map-search-container-front-page {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: white;
  padding: 30px;
}

.map-search-switch {
  margin: auto;
  display: flex;
  padding: 0;
}

button.btn.btn-secondary.btn-lg.active {
  background: #d01031;
  color: white;
}

button.btn.btn-secondary.btn-lg.disabled {
  background: grey;
  color: white;
}

.map-search-results-container {
  text-align: center;
  overflow: hidden;
}

.map-search-results {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  height: 600px;
  overflow: scroll;
}

.event-index-item, .group-index-item {
  width: 300px;
  height: 200px;
}

.index-item-info {
  height: 100%;
  width: 100%;
}

.index-item-info > img {
  width: 80%;
  height: 80%;
  margin: auto;
}

.index-item-info span:nth-of-type(1) {
  font-weight: bold;
}
