body {
  overflow: hidden;
}

html, body, .page, main {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.navbar-fixed-top {
  margin-bottom: 0;
  position: static;
}

.page-content {
  overflow-y: scroll;
  background: #f6f7f8;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-container {
  margin: auto;
  max-width: 1170px;
  width: 100vw;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: white;
  flex-grow: 1;
}

ul {
  list-style: none;
}

.footer {
  background: black;
  height: 50px;
  color: white;
  font-size: 20px;
  max-width: 1170px;
  margin: auto;
}

.footer .col-lg-12 .col-md-8 a {
  color: white;
}

.page-container > *:first-child {
  min-height: calc(100vh - 100px);
}
