body {
  overflow: hidden;
}

html, body, .page, main {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.navbar-fixed-top {
  margin-bottom: 0;
  position: static;
}

.page-content {
  overflow-y: scroll;
  background: #f6f7f8;
  height: 100vh;
}

.page-container {
  margin: auto;
  max-width: 1170px;
  border-left: 1px solid #ccc;
  overflow-x: hidden;
  border-right: 1px solid #ccc;
  background: white;
  height: 100%;
}

ul {
  list-style: none;
}
