body {
  overflow: hidden;
}

html, body, .page, main {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.navbar-fixed-top {
  position: static;
}

.page-content {
  overflow-y: scroll;
  overflow-x: hidden;
}
