.reply-container {
  padding-left: 20px;
}

.reply-index-item-title {
  font-weight: bold;
  display: flex;
}

.reply-index-item-title div:last-child {
  font-weight: normal;
  padding: 0 5px;
  color: #A9A9A9;
}

button.btn.btn-outline-danger {
  margin: 5px 5px;
}

.reply-form-container input {
  width: 80%;
}

.button-container, .reply-form-container {
  padding: 5px 0;
}

.reply-index-item {
  margin: 10px 0;
}

.reply-index div:last-child {
  border: none;
}
