.session-form {
  margin: 0 0 10px;
}

.session-form-container {
  width: 400px;
  height: auto;
  margin: 20px auto;
  font-size: 16px;
  border: 2px solid #E5E5E5;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.session-form-welcome {
  font-size: 40px;
  font-family: 'Sedgwick Ave', cursive;
  color: #d01031;
  margin: 20px 0 10px;
}

.session-form-errors {
  font-size: 18px;
  font-weight: bold;
}

.session-form-box {
  font-size: 16px;
}

.session-input {
  margin: 10px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 40px;
  background: #fafafa;
}

.session-input-submit {
  background: #d01031;
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.session-input-submit::first-letter {
  text-transform: uppercase;
}

.guest-login-button {
  background: #d01031;
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
